* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "BT Beau Sans", sans-serif;
	background-color: #000850;
	color: #ffffff;
	background-image: url("../images/background.png");
	background-size: cover;
	background-repeat: no-repeat;
}
.container {
	display: flex;
	flex-direction: column;
}

/* Regular */
@font-face {
	font-family: "BT Beau Sans";
	src: url("../fonts/BT-BeauSans-Regular-BF64d45952e54c1.ttf")
		format("truetype");
	font-weight: 400;
	font-style: normal;
}

/* Italic */
@font-face {
	font-family: "BT Beau Sans";
	src: url("../fonts/BT-BeauSans-Italic-BF64d4595396170.ttf") format("truetype");
	font-weight: 400;
	font-style: italic;
}

/* Bold */
@font-face {
	font-family: "BT Beau Sans";
	src: url("../fonts/BT-BeauSans-Bold-BF64d45953acd04.ttf") format("truetype");
	font-weight: 700;
	font-style: normal;
}

/* Bold Italic */
@font-face {
	font-family: "BT Beau Sans";
	src: url("../fonts/BT-BeauSans-BoldItalic-BF64d45953b4a19.ttf")
		format("truetype");
	font-weight: 700;
	font-style: italic;
}

/* ExtraBold */
@font-face {
	font-family: "BT Beau Sans";
	src: url("../fonts/BT-BeauSans-ExtraBold-BF64d45953a17ee.ttf")
		format("truetype");
	font-weight: 800;
	font-style: normal;
}

/* ExtraBold Italic */
@font-face {
	font-family: "BT Beau Sans";
	src: url("../fonts/BT-BeauSans-ExtraBoldItalic-BF64d45953a22c9.ttf")
		format("truetype");
	font-weight: 800;
	font-style: italic;
}

/* Light Italic */
@font-face {
	font-family: "BT Beau Sans";
	src: url("../fonts/BT-BeauSans-LightItalic-BF64d4595380ee0.ttf")
		format("truetype");
	font-weight: 300;
	font-style: italic;
}

/* Medium */
@font-face {
	font-family: "BT Beau Sans";
	src: url("../fonts/BT-BeauSans-Medium-BF64d4595383d81.ttf") format("truetype");
	font-weight: 500;
	font-style: normal;
}

/* Medium Italic */
@font-face {
	font-family: "BT Beau Sans";
	src: url("../fonts/BT-BeauSans-MediumItalic-BF64d459537767c.ttf")
		format("truetype");
	font-weight: 500;
	font-style: italic;
}

p {
	font-family: "BT Beau Sans";
	color: #afafaf;
	font-size: 16px;
	text-align: left;
}
p a {
	position: relative;
	color: #006aff;
	font-family: BT Beau Sans, var(--default-font-family);
	font-weight: 700;
	line-height: 24px;
	text-align: left;
	opacity: 1;
}

.subtext {
	display: flex;
	align-items: center;
	gap: 6px;
	padding: 5px 16px;
	background: rgba(255, 255, 255, 0.1);
	border-radius: 99px;
	margin-bottom: 1rem;
	width: fit-content;
}

.subtext .icon {
	flex-shrink: 0;
	position: relative;
	width: 18px;
	height: 18px;
}

/* ================= NAVBAR START  ================= */

.navbar {
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 100vw;
	height: 89px;
	top: 0;
	background: #000850;
	border-top: 1px solid rgba(58, 100, 255, 0.15);
	border-bottom: 1px solid rgba(58, 100, 255, 0.15);
	position: sticky;
	z-index: 500;
}
.menu-icon {
	display: none;
}
.dropdown-arrow {
	font-size: 10px;
	margin-left: 10px;
	width: 20px;
	height: 20px;
	margin-top: 5px; /* Adjust this value to control vertical positioning */
	display: flex;
	align-items: center; /* Centers it vertically */
}
/* ---------------- stroke ---------------- */
nav.navbar ul li.menu-item,
nav.fill ul li.menu-item {
	position: relative;
	padding: 0 12px;
}
nav.navbar ul li.menu-item a:hover,
nav.fill ul li.menu-item a:hover,
.menu-item.active a {
	font-weight: 800;
}

nav.navbar ul li.menu-item:after,
nav.fill ul li.menu-item:after {
	position: absolute;
	bottom: -10px;
	left: 0;
	right: 0;
	width: 0;
	content: "";
	background: blue;
	height: 2px;
	transition: width 0.3s ease-in-out;
}

nav.navbar ul li.menu-item:hover:after,
nav.fill ul li.menu-item:hover:after {
	width: 110%;
}

nav.fill ul li.menu-item {
	transition: all 0.3s ease-in-out;
}

/* ---------------- stroke ---------------- */

.menu {
	display: flex;
	align-items: center;
	gap: 20px;
	list-style: none;
}

.menu-item {
	display: flex;
	align-items: center;
	position: relative;
}

.menu-item a {
	color: white;
	transition: color 0.3s;
	text-decoration: none;
	display: flex;
	align-items: center;
}

.dropdown-arrow {
	font-size: 10px;
	margin-left: 2px;
	width: 20px;
	height: 20px;
}

.dropdown {
	display: none;
	position: absolute;
	top: 100%;
	left: 0;
	background-color: #28356b;
	padding: 10px 0;
	list-style: none;
	min-width: 150px;
	z-index: 1;
	border-radius: 4px;
}

.dropdown li {
	padding: 5px 20px;
	list-style: none;
}

.dropdown li a {
	color: white;
	display: block;
	font-size: 16px;
}

.dropdown li a:hover {
	background-color: #3c4d8e;
}

.menu-item:hover .dropdown {
	display: block;
}

/* .vector {
	margin-left: auto;
	width: 1px;
	height: 84px;
	background: url(../images/9d648666-e4ea-464e-b36e-5b3fae3c2489.png) no-repeat
		center;
	background-size: cover;
} */

/* ================= NAVBAR END ================= */

/* ================= HEROPAGE START  ================= */

.hero {
	padding: 7rem;
	position: relative;
}

.home__icon:hover {
	transform: scale(1.3);
	rotate: 360deg;
	transition: all 0.3s;
}
.icon-1 {
	position: absolute;
	top: 77px;
	left: 239px;
}

.icon-2 {
	position: absolute;
	top: 28rem;
	left: 20rem;
}

.icon-3 {
	position: absolute;
	top: 1rem;
	right: 20rem;
}

.icon-4 {
	position: absolute;
	top: 20rem;
	right: 9rem;
}

.text {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 1rem;
}

.package-content .text {
	text-wrap: nowrap;
}

.text h1,
.text h2 {
	text-align: center;
	font-weight: 700;
}

.text h1 {
	font-size: 4rem;
	line-height: 5rem;
	margin-bottom: -0.5rem;
	margin-top: 1rem;
}

.text h2 {
	font-size: 2.8rem;
	line-height: 4rem;
	font-family: "BT Beau Sans";
}

.hero .description {
	color: var(--Global-Ultramarine-100, #9da6f3);
	text-align: justify;
	font-size: 18px;
	font-style: normal;
	font-weight: 400;
	line-height: 24px;
	margin-top: 1rem;
	max-width: 700px;
}

.video-container {
	position: relative;
	width: fit-content;
}

.play-button {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: transparent;
	border: none;
	padding: 0;
	cursor: pointer;
}

@import url("https://fonts.googleapis.com/css?family=Oswald:wght@300;400&display=swap");
.custom-video_container {
	position: relative;
	width: 72vw;
	height: auto;
	top: 0.75em;
}

.custom-video_video {
	cursor: pointer;
	width: 100%;
	height: 37rem;
	object-fit: cover;
}

.custom-video_control {
	position: absolute;
	top: 43%;
	left: 46%;
	background-color: rgba(0, 0, 0, 0.5);
	border-radius: 50%;
	padding: 1em;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #ffffff;
	font-size: 1em;
	font-weight: 400;
	width: 3em;
	height: 3em;
	line-height: 0;
	cursor: pointer;
}

.custom-video_container video::-webkit-media-controls {
	display: none;
}

.custom-video_container video::-moz-media-controls {
	display: none;
}

.hero p {
	margin-bottom: 2rem;
	margin: 0 auto;
	/* width: 704px; */
}

.button {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 8px;
	width: 178px;
	height: 60px;
	padding: 18px 16px 18px 20px;
	border: 1px solid rgba(255, 255, 255, 0.2);
	border-radius: 99px;
	margin-top: 3rem;
	margin-bottom: 2rem;
	cursor: pointer;
}

.video-banner {
	margin-top: 2rem;
}

/* ================= HEROPAGE END  =================  */

/* =============== BUTTON START ============== */

.choose-button {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 8px;
	width: 178px;
	height: 60px;
	padding: 18px 16px 18px 20px;
	border: 1px solid rgba(255, 255, 255, 0.2);
	border-radius: 99px;
	margin-top: 3rem;
	margin-bottom: 2rem;
	cursor: pointer;
}
.button:hover {
	background-color: rgba(255, 255, 255, 0.2);
}

.pricing-card:hover .choose-button {
	background-color: #000a6b;
	display: flex;
	justify-content: flex-start;
	gap: 8px;
	width: 166px;
	height: 45px;
	padding: 16px 20px 16px 20px;
	border: 1px solid rgba(255, 255, 255, 0.2);
	border-radius: 99px;
	margin-top: 2rem;
	margin-bottom: 3rem;
	transform: scale(1.4);
	align-items: center;
}

.pricing-card:hover .choose-button .cta-btn::after {
	content: url("../images/icon-arrow.svg");
	font-weight: 900;
	position: absolute;
	right: -30px;
	top: 50%;
	transform: translateY(-50%);
	opacity: 0;
	background-color: #006aff;
	border-radius: 40%;
	width: 25px;
	height: 20px;
	text-align: center;
	margin-left: 50px;
}

.pricing-card:hover .choose-button .cta-btn::after {
	opacity: 1;
	right: 10px;
}

.pricing-card:hover .choose-button:hover {
	background-color: rgba(255, 255, 255, 0.4);
}

.button a {
	text-decoration: none;
}

.cta-btn {
	display: flex;
	align-items: flex-start;
	justify-content: flex-end;
	flex-shrink: 0;
	flex-basis: auto;
	color: #ffffff;
	font-family: BT Beau Sans, var(--default-font-family);
	font-size: 16px;
	font-weight: 700;
	line-height: 24px;
	text-align: right;
	white-space: nowrap;
	text-decoration: none;
}

.button .icon {
	display: flex;
	align-items: flex-start;
	flex-wrap: nowrap;
	flex-shrink: 0;
	gap: 4px;
	position: relative;
	width: 34px;
	padding: 4px 9px 4px 9px;
	background: #006aff;
	border: 1px solid rgba(255, 255, 255, 0.2);
	border-radius: 99px;
}

/* =============== BUTTON END ============== */

/* ================= SERVICE START  =================  */

.services h2 {
	font-size: 3.5rem;
	padding: 3rem;
	line-height: 4.9rem;
}

.service-item .text-1 {
	position: absolute;
	color: white;
	background: linear-gradient(
		180deg,
		rgba(4, 12, 48, 0) 10.04%,
		#040c30 43.19%
	);
	display: flex;
	padding: 44px 47px 40px 47px;
	justify-content: center;
	align-items: center;
	bottom: 0rem;
	flex-direction: column;
}

.service-item .text-1 p {
	display: flex;
	text-align: center;
}
.service-item h3 {
	margin-bottom: 1rem;
}

.service-item .text-2 {
	position: absolute;
	color: white;
	background: linear-gradient(
		180deg,
		rgba(4, 12, 48, 0) 10.04%,
		#040c30 43.19%
	);
	display: flex;
	padding: 44px 47px 40px 47px;
	justify-content: center;
	bottom: 0rem;
	flex-direction: column;
}

.service-item .text-2 h3 {
	display: flex;
	text-align: left;
}

.text-3 {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	flex-wrap: nowrap;
	gap: 16px;
	position: relative;
	width: 435px;
	margin: 32px 0 0 48px;
}

.small-img {
	position: absolute;
	top: 13rem;
	left: 3rem;
	background: #9da6f2;
	border-radius: 12px;
	right: -61px;
}

.small-img img {
	border-radius: 12px;
}

.services .service-grid {
	display: flex;
	gap: 1rem;
	justify-content: center;
}
.services .column {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.service-item {
	position: relative;
	width: 34rem;
	overflow: hidden;
	background-color: #010d71;
	transition: all 0.3s ease-out;
	color: white;
}

.service-item a {
	text-decoration: none;
}

.service-item.tvc {
	height: 340px;
}
.service-item.web {
	height: 441px;
}
.service-item.web {
	height: 441px;
}
.service-item.vr {
	height: 564px;
}
.service-item.explore {
	height: 217px;
}

.imgNtext {
	position: relative;
	height: 100%;
}
/* .service-item::before {
	position: absolute;
	left: 0;
	bottom: 2px;
	width: 100%;
	height: 4px;
	background: linear-gradient(
		to top,
		rgba(255, 255, 255, 1),
		rgba(255, 255, 255, 0)
	);
	transition: height 0.3s ease-in-out;
	padding: 2px;
} */

/* .service-item:hover::before {
	height: 50%;
} */

.service-item:hover {
	padding: 0 2px 3px 2px;
	cursor: pointer;
	transform: scale(1.01);
	transition: all 0.3s;
}

.service-item img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.service__section {
	display: flex;
	gap: 5rem;
	justify-content: center;
	padding: 120px;
}
/* .service__video {
	position: relative;
	width: 45rem;
	overflow: hidden;
} */
.service__text {
	position: relative;
	max-width: 27rem;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	gap: 2rem;
	text-align: left;
	padding-bottom: 6rem;
}

.service__text h2 {
	text-align: left;
}

.service__btn-group {
	position: absolute;
	width: 27rem;
	display: flex;
	flex-direction: row;
	gap: 2rem;
	text-align: left;
	bottom: -2rem;
}
width: 15rem;
/* ================= SERVICE END  =================  */
/* ================= TESTIMONIAL START  =================  */
.testimonial {
	padding: 14rem 2rem 0rem 2rem;
}

.testimonial .testimonial-grid {
	display: flex;
	gap: 6rem;
	justify-content: center;
}
.testimonial .column {
	display: flex;
	flex-direction: column;
	width: 23rem;
	gap: 2rem;
	justify-content: center;
}

.testimonial h3 {
	font-size: 1.4rem;
	text-align: left;
}
/* ================= TESTIMONIAL END  =================  */
/* ================= FAQ START  ================= */

.faq {
	padding: 4rem 2rem;
}

.faq-container {
	max-width: 800px;
	margin: 50px auto;
	padding: 20px;
}

.faq-item {
	border-bottom: 2px solid #1447d3;
	padding: 1.5rem;
}

.faq-question {
	display: flex;
	justify-content: space-between;
	cursor: pointer;
	padding: 10px 0;
	align-items: center;
}

.faq-question span {
	font-size: 18px;
}

.faq-answer.show {
	margin-top: 10px;
	padding: 10px;
	padding-right: 2rem;
	background-color: #f9f9f9;
	border: 1px solid #ddd;
	margin: 10px 0;
}

.faq ul {
	padding-left: 1.5rem;
	text-align: left;
}
.faq li,
.faq p {
	font-family: "BT Beau Sans";
	color: #afafaf;
	font-size: 13px;
}

.toggle-btn {
	font-size: 24px;
	color: #59c2ff;
	font-weight: bold;
	transition: color 0.3s;
}

.faq-item.open .toggle-btn {
	color: #ff6161;
	font-size: 28px; /* Kích thước lớn hơn khi mở */
	transform: rotate(180deg); /* Xoay khi mở để tạo cảm giác động */
}

.faq-item.open .faq-answer {
	display: block;
	padding-bottom: 1rem;
}
/* ================= FAQ END  ================= */

.footer {
	padding: 80px 144px 80px 144px;
}

.contact-info {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	flex-wrap: nowrap;
	flex-shrink: 0;
	gap: 24px;
	position: relative;
	width: 360px;
}

.footer .column-2 {
	display: flex;
	flex-direction: column;
	gap: 6rem;
	position: relative;
	width: 360px;
	align-items: flex-end;
	justify-content: space-between;
}

.footer-content {
	display: flex;
	justify-content: space-between;
	flex-wrap: nowrap;
}

.logo img {
	width: 5rem;
}

.footer strong {
	color: white;
}

.contact-info__item {
	display: flex;
	align-items: center;
	margin-bottom: 5px;
}

.contact-info__item img {
	margin-right: 1rem;
}

.contact-info__item p {
	margin: 0;
	color: rgb(231 231 231 / 60%);
}

.footer-links {
	display: flex;
	align-items: center;
	flex-wrap: nowrap;
	flex-shrink: 0;
	position: relative;
	width: 281px;
}

.footer-links a {
	color: #fff;
	text-decoration: none;
	display: flex;
	align-items: center;
	flex-wrap: nowrap;
	flex-shrink: 0;
	gap: 1rem;
	position: relative;
	margin-left: 20px;
	justify-content: center;
}

.footer-links a:hover,
.menu-item.active a {
	color: orange;
}

.social-icons {
	flex: 1;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.social-icons a {
	margin: 0 10px;
}

.social-icons img {
	width: 30px;
	height: auto;
}

/* ============================== PRICE START ============================== */

.pricing-table {
	display: flex;
	justify-content: center;
	gap: 20px;
	margin: 4rem;
}

.pricing-card {
	background-color: #000a6b;
	max-width: 25rem;
	box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
	transition: all 0.3s ease;
	position: relative;
	padding-bottom: 100px;
}

.pricing-card:hover {
	background-image: linear-gradient(
		0deg,
		rgba(255, 255, 255, 0.4) 6%,
		rgba(35, 47, 158, 0) 20%
	);
	transition: all 1s ease;
}

.standard.pricing-card:hover {
	background-image: linear-gradient(0deg, #00d9ff 6%, rgba(35, 47, 158, 0) 20%);
	transition: all 1s ease;
}

.premium.pricing-card:hover {
	background-image: linear-gradient(0deg, #fc0 6%, rgba(35, 47, 158, 0) 20%);
	transition: all 1s ease;
}

.pricing-card__head {
	height: 80px;
	overflow: hidden;
	background: linear-gradient(
		0deg,
		rgba(255, 255, 255, 0.27) 0%,
		rgba(35, 47, 158, 0) 100%
	);
}

.standard .pricing-card__head {
	height: 80px;
	overflow: hidden;
	background: linear-gradient(0deg, #00d9ff -200%, rgba(35, 47, 158, 0) 100%);
}

.premium .pricing-card__head {
	height: 80px;
	overflow: hidden;
	background: linear-gradient(0deg, #fc0 -200%, rgba(35, 47, 158, 0) 100%);
}
.pricing-card h2 {
	display: block;
	position: relative;
	height: 36px;
	margin: 24px 0 0 20px;
	color: #ffffff;
	font-family: BT Beau Sans, var(--default-font-family);
	font-size: 32px;
	font-weight: 500;
	line-height: 36px;
	text-align: left;
	white-space: nowrap;
	letter-spacing: -0.64px;
	background: linear-gradient(180deg, #ffffff, #787878);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.standard h2 {
	background: linear-gradient(180deg, #1dffff 48.82%, #003e9b 99.63%);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.premium h2 {
	background: linear-gradient(180deg, #f8c805 57.3%, #bd5f00 99.63%);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.pricing-card__content {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	flex-wrap: nowrap;
	gap: 8px;
	position: relative;
	padding: 20px;
}

.pricing-card__content p {
	align-self: stretch;
	flex-shrink: 0;
	flex-basis: auto;
	position: relative;
	min-width: 0;
	height: 32px;
	color: #ffffff;
	font-family: BT Beau Sans, var(--default-font-family);
	font-size: 20px;
	font-weight: 500;
	line-height: 32px;
	text-align: left;
	white-space: nowrap;
	letter-spacing: -0.4px;
}

.pricing-card ul {
	list-style: none;
}
.pricing-card ul li {
	position: relative;
	list-style: none;
	margin-left: 55px;
	color: lightgray;
	text-align: left;
}
.pricing-card ul li::before {
	content: "";
	display: block;
	width: 4px;
	height: 14px;
	top: 4px;
	left: -30px;
	border-radius: 0;
	border-top-color: transparent;
	border-left-color: transparent;
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
	border-right: 2px solid lightgray;
	border-bottom: 2px solid lightgray;
	position: absolute;
	-webkit-transition: all 0.12s, border-color 0.08s;
	transition: all 0.12s, border-color 0.08s;
}
.pricing-card__btn {
	display: flex;
	position: absolute;
	bottom: 0;
	width: 100%;
	justify-content: center;
}

.premium button {
	background-color: #ffd700;
	color: black;
}

.premium button:hover {
	background-color: #ffa500;
}
/* ============================== PRICE END ============================== */

.content {
	position: relative;
	margin: 7rem 14rem;
	background: #000535;
	padding: 2rem;
	color: #a8a8a8;
	text-align: left;
}

.content h3 {
	color: white;
	margin-bottom: 1rem;
}

.content ul {
	color: #a8a8a8;
	margin-left: 30px;
}

/* ============================== PRICE END ============================== */

/* ============================== 3D WEBSITE START ============================ */

.package-content {
	display: flex;
	flex-direction: column;
	gap: 24px;
	position: relative;
	margin: 2rem 13rem;
	background: #000a6b;
	padding: 3rem;
}

.package-content__header {
	display: flex;
	gap: 40rem;
}

.package-content__header .button:hover {
	background-color: rgba(#00e6b3 0.2);
}

.package-content h3 {
	position: relative;
	height: 32px;
	color: #ffffff;
	font-family: BT Beau Sans, var(--default-font-family);
	font-size: 20px;
	font-weight: 500;
	line-height: 32px;
	text-align: left;
	white-space: nowrap;
	letter-spacing: -0.4px;
}

.package-content ul {
	color: white;
	text-align: left;
	margin-left: 30px;
}

.package-content p {
	color: white;
}

/* ============================== 3D WEBSITE END ============================ */
/* ============================== ABOUT START ============================ */

.about-us {
	position: relative;
	margin: 0 14.5rem;
	height: 500px;
	overflow: hidden;
}

.about-us img {
	max-width: 100%;
}
.about-us .text {
	position: absolute;
	color: white;
	background: linear-gradient(
		180deg,
		rgba(4, 12, 48, 0) 10.04%,
		#040c30 43.19%
	);
	display: flex;
	padding: 44px 47px 40px 47px;
	justify-content: center;
	align-items: center;
	bottom: 0rem;
	flex-direction: row;
}
.about-us h3 {
	margin-bottom: 1rem;
	width: 42rem;
	font-size: 1.8rem;
	display: flex;
}

.about-us .text p {
	color: white;
}

.about__section {
	display: flex;
	gap: 1rem;
	justify-content: center;
	padding: 120px;
}
.about__img {
	position: relative;
	max-width: 45rem;
	overflow: hidden;
}
.about__text {
	position: relative;
	max-width: 27rem;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	gap: 2rem;
	text-align: left;
	justify-content: center;
}
.about__text h3 {
	display: flex;
	gap: 2rem;
	font-size: 2rem;
}

/* ============================== ABOUT END ============================ */
/* ============================== FORM START ============================ */

h2 {
	text-align: center;
}

.form__input .button {
	width: 230px;
}
.form-group {
	margin-bottom: 15px;
}

.contact-info__text {
	width: 360px;
	color: white;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
	color: white;
}

.service-options {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.service-options input[type="radio"] {
	margin-right: 5px;
}

.service-options label {
	margin: 12px;
}
button {
	padding: 10px 20px;
	background-color: #007bff;
	color: #fff;
	border: none;
	border-radius: 3px;
	cursor: pointer;
}

.image-wrapper {
	position: relative;
	display: inline-block;
}

.image-wrapper img {
	display: block;
	width: 90%;
	height: auto;
}

.image-wrapper:after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: linear-gradient(180deg, rgba(0, 10, 107, 5%) 5.31%, #000a6b 100%);
}

/* ------------------------------------------ */
.modal-overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.3);
	display: flex;
	justify-content: center;
	align-items: center;
	align-items: flex-start;
	overflow-y: auto;
	padding-top: 3rem;
}
.form__header {
	display: flex;
	flex-direction: row;
}

.form__description {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.form__description svg {
	width: 45px;
}

.form-container {
	position: relative;
	background: #000a6b;
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
	width: 70%;
	border: 2px solid var(--Global-Ultramarine-500, #4651b6);
	margin: 0 auto;
	border-radius: 5px;
	padding: 1rem 5rem;
	margin: 3rem;
}

.close-button {
	position: absolute;
	top: 1rem;
	right: 1rem;
	background: none;
	border: none;
	color: white;
	font-size: 1.5rem;
	cursor: pointer;
}
.form__contain {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 1rem 0rem;
}

.form-group {
	margin-bottom: 15px;
}

.form-group label {
	margin-bottom: 5px;
	display: flex;
}

.form-group input[type="radio"] {
	width: auto;
}

/* ----------------- */
.service-options {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}

.custom-radio {
	display: none;
}

.radio-label {
	position: relative;
	padding-left: 30px;
	cursor: pointer;
	color: #ffffff;
}

.radio-label:before {
	content: "";
	position: absolute;
	left: 0;
	top: 50%;
	transform: translateY(-50%);
	width: 20px;
	height: 20px;
	border: 2px solid white;
	border-radius: 50%;
	background: transparent;
	transition: 0.3s;
}

.radio-label:after {
	content: "";
	position: absolute;
	left: 4.5px;
	top: 50%;
	transform: translateY(-50%);
	width: 15px;
	height: 15px;
	border-radius: 50%;
	background: transparent;
	transition: 0.3s;
}

.custom-radio:checked + .radio-label:before {
	background: transparent;
}

.custom-radio:checked + .radio-label:after {
	background: white;
}

/* -------------------------------------- */

.form__contain h2 {
	font-size: 2rem;
}
.form-group input,
.form-group select,
.form-group textarea {
	width: 100%;
	padding: 8px;
	border: 1px solid #000536;
	border-radius: 4px;
	background: #000536;
	color: white;
}

.form-group select::after {
	color: white;
}

/* ============================== FORM END ============================ */

.custom-video_container {
	position: relative;
	width: 45rem;
	overflow: hidden;
	height: 100%;
}

.custom-video_video {
	width: 100%;
	height: auto;
}

.custom-video_control {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: flex;
	justify-content: center;
	align-items: center;
}

.play-pause-button {
	background-color: rgba(0, 0, 0, 0.2);
	color: white;
	border: none;
	width: 100px;
	height: 100px;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}

.play-pause-button:hover {
	transform: scale(1.3);
	transition: all 0.3s;
}

.pricing-container {
	padding: 20px;
}

@media (max-width: 768px) {
	.testimonial-grid,
	.service-grid,
	.service__section,
	.pricing-table,
	.about__section,
	.about-us .text {
		flex-direction: column;
		height: auto;
		padding: 20px;
	}

	.text h1,
	.text h2 {
		font-size: 30px;
		line-height: 3rem;
	}

	.services h2,
	.faq h2 {
		font-size: 18px;
		padding: 0;
		line-height: 1.9rem;
	}

	.text-3 {
		width: auto;
		margin-top: 16px;
	}

	.menu {
		flex-direction: column;
		align-items: flex-start;
		gap: 5px;
		margin-right: 0;
	}

	.icon-1,
	.icon-2,
	.icon-3,
	.icon-4 {
		display: none;
	}

	.menu-item a {
		font-size: 12px;
	}

	.dropdown {
		min-width: 100%;
	}

	.hero {
		padding: 30px;
	}

	.service-item,
	.custom-video_container {
		width: auto;
	}
	.service-item.tvc {
		height: 340px;
	}
	.service-item.web {
		height: 369px;
	}
	.service-item.vr {
		height: 564px;
	}
	.service-item.explore {
		height: 138px;
	}

	.service__btn-group {
		width: 15rem;
	}

	#web,
	#creative {
		flex-direction: column-reverse;
	}

	/* ---------------- about us ------------- */
	.about-us {
		position: none;
		margin: 0;
		height: auto;
		overflow: visible;
	}

	.about-us .text {
		background: #040c30;
		display: flex;
		width: 100%;
		position: relative;
	}

	.about-us h3 {
		width: auto;
	}
	/* =========================== */
	.footer-content {
		flex-direction: column;
		align-items: center;
	}
	.faq-container {
		padding: 0;
	}

	.faq-item {
		padding: 10px;
	}
	.contact-info__text,
	.footer-links,
	.social-icons {
		margin: 10px 0;
		text-align: center;
	}

	.social-icons {
		justify-content: center;
	}

	/* ------------------- bao gia ------------------*/
	.content,
	.pricing-table {
		margin: 0;
	}
	.package-content {
		margin: 20px 5px;
		padding: 20px;
	}

	.package-content__header {
		gap: 0;
		flex-direction: column;
		align-items: center;
	}
	.button {
		margin-top: 10px;
	}

	.form__description {
		display: none;
	}

	.form-container {
		width: auto;
		padding: 1rem;
	}

	.about__text {
		padding: 20px;
		background: #020733;
	}

	.footer .column-2 {
		gap: 0;
	}
}

@media screen and (max-width: 600px) {
	.menu {
		display: none;
		flex-direction: column;
		width: 100vw; /* Full viewport width */
		background-color: #000850;
		position: absolute;
		top: 100%;
		left: 0;
		padding: 0;
		z-index: 999; /* Make sure it appears on top */
	}

	.menu-icon {
		display: block;
	}

	.menu-item {
		padding: 14px 16px;
		width: 100%; /* Make sure menu items span full width */
		text-align: left; /* Align the text to the left for mobile view */
	}

	.menu-item a {
		width: 100%;
		padding: 14px;
		display: block; /* Ensure links are block level */
	}

	.menu.open {
		display: flex;
		background: #020733;
		padding-bottom: 12px;
	}

	.navbar {
		padding: 22px;
		background: #020733;
		justify-content: space-between;
	}

	.dropdown-arrow {
		display: none;
	}
}
